<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>第三週_切版作業</title>
    <link rel="stylesheet" href="assets/style/all.css">
    <!-- <link rel="stylesheet" media="(max-width: 768px)" href="assets/style/table.css" />
    <link rel="stylesheet" media="(max-width: 480px)" href="assets/style/mobile.css" /> -->
    <link href="assets/style/aos.css" rel="stylesheet">
</head>

<body>
    <!-- loading -->
    <div class="loader_wrap">
        <div class="cssload-wrap">
            <div class="cssload-container">
            <span class="cssload-dots"></span>
            <span class="cssload-dots"></span>
            <span class="cssload-dots"></span>
            <span class="cssload-dots"></span>
            <span class="cssload-dots"></span>
            <span class="cssload-dots"></span>
            <span class="cssload-dots"></span>
            <span class="cssload-dots"></span>
            <span class="cssload-dots"></span>
            <span class="cssload-dots"></span>
        </div>
        </div>
        <p class="loaderText">loading...</p>
    </div>
    <!-- loading end-->
    <!-- header star -->
    <header>
        <div class="burger">
            <hr class="burLine_1">
            <hr class="burLine_2">
            <hr class="burLine_3">
        </div>
        <h1 class="weblogo">
            <a href=""></a>
            <img src="assets/images/logo-new.png" alt="">
            </a>
        </h1>
        <nav class="headerNav">
            <ul>
                <li class="navItem"><a href="">系列鏡框</a></li>
                <li class="navItem"><a href="">門市據點</a></li>
                <li class="navItem"><a href="">部落格</a></li>
                <li class="navItem"><a href="">常見問題</a></li>
            </ul>
        </nav>
    </header>
    <!-- header end -->
    <!-- headerBanner star -->
    <div class="headerBanner">
        <div class="headerText max1200" data-aos="zoom-out-right" data-aos-delay="500" data-aos-duration="1500">
            <p class="subTitle">Promise-Desert 2020 早春系列</p>
            <h2 class="bannerTitle">看得清，才能看得遠</h2>
        </div>
    </div>
    <!-- headerBanner end -->
    <!-- service star -->
    <div class="service row_padding64">
        <h2>用專業的心，做專業的事</h2>
        <ul class="serviceList max1200">
            <li data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
                <div class="serviceImg">
                    <img src="assets/images/iconfinder_circle-dollar_430089.svg" alt="">
                </div>
                <h3>單一價格</h3>
                <p>無論任何度數皆不需追加費用 即可擁有適合自己的薄型球面 鏡片。</p>
            </li>
            <li data-aos="fade-up" data-aos-duration="1500" data-aos-delay="600">
                <div class="serviceImg">
                    <img src="assets/images/iconfinder_clock-1_430090.svg" alt="">
                </div>
                <h3>20 分鐘即可取件</h3>
                <p>為了您的寶貴時間著想，以豐 富專業知識與技術將結帳到交 件的時間縮減至最快 20 分鐘 即可完成。</p>
            </li>
            <li data-aos="fade-up" data-aos-duration="1500" data-aos-delay="900">
                <div class="serviceImg">
                    <img src="assets/images/iconfinder_heart_430099.svg" alt="">
                </div>
                <h3>安心售後服務</h3>
                <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
            </li>
            <li data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1200">
                <div class="serviceImg">
                    <img src="assets/images/iconfinder_glasses_430098 (1).svg" alt="">
                </div>
                <h3>關於鏡片</h3>
                <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </li>
        </ul>
    </div>
    <!-- service end -->
    <!-- classic star -->
    <div class="classic max1200 row_padding64">
        <h2>經典系列鏡框</h2>
        <div class="classicFlex" data-aos="flip-left" data-aos-duration="1000" data-aos-offset="150">
            <div class="classicImg"><img src="assets/images/8.png" alt=""></div>
            <div class="classicName">optical</div>
        </div>
        <div class="classicFlex" data-aos="flip-left" data-aos-duration="1000" data-aos-offset="200">
            <div class="classicName">sunglasses</div>
            <div class="classicImg"><img src="assets/images/152.png" alt=""></div>
        </div>
        <div class="classicFlex" data-aos="flip-left" data-aos-duration="1000" data-aos-offset="250">
            <div class="classicImg"><img src="assets/images/28.png" alt=""></div>
            <div class="classicName">functional</div>
        </div>
    </div>
    <!-- classic end -->
    <!-- design star -->
    <div class="design row_padding64">
        <h2 class="titleColor">聯名設計鏡框</h2>
        <div class="max1540">
            <div class="designFlex_row">
                <div class="designFlex_row_2_left">
                    <img src="assets/images/zac-wolff-2qfYizn95pk-unsplash.png" alt="">
                </div>
                <div class="designFlex_row designFlex_row_2_right">
                    <div class="designFlex_row_mobile_3">
                        <img src="assets/images/61.png" alt="">
                    </div>
                    <div class="designFlex_row designFlex_row_mobile_4">
                        <div class="designFlex_row_3_left designFlex_row_mobile_1">
                            <img src="assets/images/24.png" alt="">
                        </div>
                        <div class="designFlex_row_more designFlex_row_3_right">
                            <div class="">
                                <img src="assets/images/34.png" alt="">
                            </div>
                            <div class="designFlex_row_btn">
                                <div class="designFlex_row_4_left designFlex_row_mobile_2">
                                    <img src="assets/images/24.png" alt="" class="">
                                </div>
                                <div class="designFlex_row_4_center">
                                    <img src="assets/images/5.png" alt="" srcset="">
                                    <div class="moreBtn">
                                        <div class="moreText">
                                            <a href="">
                                                <span class="more_1">MORE</span>
                                                <span class="more_2">MORE</span>
                                                <span class="more_3">MORE</span>
                                            </a>
                                        </div>
                                        <div class="arrow">
                                            <img src="assets/images/ic_arrow_forward_24px.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="designFlex_row_4_right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="designBuyFlex">
                <a href="" class="designBuyFlex_col_1">Double A+</a>
                <a href="" class="designBuyFlex_col_1">YOUTH</a>
            </div>
        </div>
    </div>
    <!-- design end -->
    <!-- customer star -->
    <div class="customer row_padding64">
        <h2 class="titleColor">顧客推薦</h2>
        <div class="max1200">
            <ul class="customerList">
                <li data-aos="flip-left" data-aos-duration="1000" data-aos-offset="100" data-aos-delay="100">
                    <img src="assets/images/18.png" alt="">
                    <div class="cardInfo">
                        <h3>Jessy</h3>
                        <p>This is a wider card with supporting text below as a natural lead-in to additional content.
                        </p>
                        <span>Last updated 3 mins ago</span>
                    </div>
                </li>
                <li data-aos="flip-left" data-aos-duration="1000" data-aos-offset="100" data-aos-delay="600">
                    <img src="assets/images/25.png" alt="">
                    <div class="cardInfo">
                        <h3>Karen</h3>
                        <p>This is a wider card with supporting text below as a natural lead-in to additional content.
                        </p>
                        <span>Last updated 3 mins ago</span>
                    </div>
                </li>
                <li data-aos="flip-left" data-aos-duration="1000" data-aos-offset="100" data-aos-delay="900">
                    <img src="assets/images/36.png" alt="">
                    <div class="cardInfo">
                        <h3>Chelsea</h3>
                        <p>This is a wider card with supporting text below as a natural lead-in to additional content.
                        </p>
                        <span>Last updated 3 mins ago</span>
                    </div>
                </li>
                <li data-aos="flip-left" data-aos-duration="1000" data-aos-offset="100" data-aos-delay="1200">
                    <img src="assets/images/45.png" alt="">
                    <div class="cardInfo">
                        <h3>Jane</h3>
                        <p>This is a wider card with supporting text below as a natural lead-in to additional content.
                        </p>
                        <span>Last updated 3 mins ago</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- customer end -->
    <!-- contact star -->
    <div class="contact row_padding64">
        <h2>聯絡我們</h2>
        <div class="max800">
            <p class="formNotice">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
            <form action="">
                <label for="">姓名</label>
                <input type="text" placeholder="陳小明">
                <label for="">聯絡電話</label>
                <input type="tel" placeholder="0912-345-678">
                <label for="">電子郵件</label>
                <input type="email" placeholder="example@email.com">
                <label for="">意見反應</label>
                <textarea name="" id="" cols="30" rows="10" placeholder="請輸入您的意見"></textarea>
                <div class="agreeBox">
                    <input type="checkbox" name="" id="agree" class="agreeBtn">
                    <label for="agree" class="agreeBtnText">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                </div>
                <input type="submit" value="確認送出">
            </form>
        </div>
    </div>
    <!-- contact end -->
    <!-- footer star -->
    <footer class="row_padding64">
        <div class="max1200">
            <div class="footerFlex">
                <div class="footerFlex_col footerFlex_col_left">
                    <nav class="">
                        <ul class="footerNav">
                            <li class="footerNavItem"><a href="">首頁</a></li>
                            <li class="footerNavItem"><a href="">系列鏡框</a></li>
                            <li class="footerNavItem"><a href="">門市據點</a></li>
                            <li class="footerNavItem"><a href="">部落格</a></li>
                            <li class="footerNavItem"><a href="">常見問題</a></li>
                        </ul>
                    </nav>
                    <div class="tel">
                        <div class="telIcon">
                            <img src="assets/images/ic_phone_48px.svg" alt="">
                        </div>

                        <a href="tel:0800-000-000">0800-000-000</a>
                    </div>
                    <div class="mail">
                        <div class="mailIcon">
                            <img src="assets/images/ic_mail_outline_24px.svg" alt="">
                        </div>
                        <a href="mailto:glasses@business.com" class="">glasses@business.com</a>
                    </div>
                </div>
                <div class="footerFlex_col footerFlex_col_right">
                    <ul class="socialBtn">
                        <li><a href=""><img src="assets/images/ic_social_fb.svg" alt="" srcset=""></a></li>
                        <li><a href=""><img src="assets/images/ic_social_ig.svg" alt="" srcset=""></a></li>
                        <li><a href=""><img src="assets/images/ic_social_line.svg" alt="" srcset=""></a></li>
                    </ul>
                </div>
            </div>
            <hr class="footeHr">
            <div class="footerFlex footerFlexCopy">
                <div class="copyLogo">
                    <img src="assets/images/logo-new.png" alt="">
                </div>
                <div class="copyright">Copyright © 2020 Glasses.All rights reserved.</div>
                <ul class="copyNav">
                    <li class="copyItem"><a href="">隱私權政策</a></li>
                    <li class="copyItem"><a href="">服務條款</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- footer end -->
</body>
<script src="assets/js/jquery-1.10.1.min.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/all.js"></script>

</html>