/*------------------------
 Global
 ------------------------*/
*,
*:before,
*:after {
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  height: 100%;
  font-size: 16px;
  line-height: 24px;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.max1200 {
  max-width: 1200px;
  margin: 0 auto;
}

.max1540 {
  max-width: 1540px;
  margin: 0 auto;
}

.max800 {
  max-width: 800px;
  margin: 0 auto;
}

.row_padding64 {
  padding: 64px 0;
}

.titleName {
  color: #650300;
  font-size: 48px;
  text-align: center;
  margin-bottom: 45px;
}

.titleColor {
  color: white;
}

/*------------------------
 loading
 ------------------------*/
.loader_wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background: white;
}

.loaderText {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
  font-size: 24px;
}

/*------------------------
 Header
 ------------------------*/
header {
  position: fixed;
  height: 100px;
  color: white;
  background: #aa0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  top: 0;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 90px;
  z-index: 100;
}
header .navItem {
  display: inline-block;
  margin-left: 20px;
}

.headerBanner {
  height: calc(100% - 100px);
  background: url(../images/68.png);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center center;
  background-size: cover;
  margin-top: 100px;
}

.headerText {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  text-align: right;
}

.subTitle {
  font-size: 36px;
  color: #650300;
  margin-bottom: 40px;
}

.bannerTitle {
  color: #650300;
  font-size: 64px;
}

.burger {
  display: none;
}

/*------------------------
 Service
 ------------------------*/
.service {
  background: #aa06010d;
}

.serviceList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.serviceListItem {
  -ms-flex-preferred-size: 18%;
  flex-basis: 18%;
}

.serviceImg {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
}

.serviceListItemTitle {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #650300;
}

.serviceListItemText {
  text-align-last: left;
}

/*------------------------
 Classic
 ------------------------*/
.classicName {
  color: #aa0601;
  font-size: 48px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: bold;
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px;
}

.classicFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.classicFlex:nth-child(3) {
  margin: 32px 0;
}

.classicName:before {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  margin: 0 20px 0;
  display: inline-block;
  background: #aa0601;
  content: " ";
  width: 50px;
  height: 50px;
  -webkit-mask-size: 50px 50px;
  mask-size: 50px 50px;
}

.classicNameIcon_1:before {
  -webkit-mask: url(../images/iconfinder_44_2529968.svg) no-repeat 50% 50%;
  mask: url(../images/iconfinder_44_2529968.svg) no-repeat 50% 50%;
}

.classicNameIcon_2:before {
  -webkit-mask: url(../images/Layer_1.svg) no-repeat 50% 50%;
  mask: url(../images/Layer_1.svg) no-repeat 50% 50%;
}

.classicNameIcon_3:before {
  -webkit-mask: url(../images/Page-1.svg) no-repeat 50% 50%;
  mask: url(../images/Page-1.svg) no-repeat 50% 50%;
}

/*------------------------
 Design
 ------------------------*/
.design {
  background: url(../images/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash.png);
  background-repeat: no-repeat;
  padding-bottom: 480px;
  background-size: cover;
}

.designFlex_row {
  // display: -webkit-box;
  // display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.designFlex_row_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.designFlex_row_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.designFlex_row_2_left {
  -ms-flex-preferred-size: 37.5%;
  flex-basis: 37.5%;
}

.designFlex_row_2_right {
  -ms-flex-preferred-size: 62%;
  flex-basis: 62%;
}

.designFlex_row_3_left {
  -ms-flex-preferred-size: 14%;
  flex-basis: 14%;
}

.designFlex_row_3_right {
  -ms-flex-preferred-size: 85%;
  flex-basis: 85%;
}

.designFlex_row_4_left {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.designFlex_row_4_center {
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
  position: relative;
}

.designFlex_row_4_right {
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
}

.designFlex_row_mobile_2 img {
  display: none;
}

.moreBtn {
  position: absolute;
  width: 125%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-25%, -50%);
  -ms-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
  background: white;
  color: #aa0601;
  padding: 25px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.moreBtn:hover .more_2 {
  margin-top: -100px;
}

.moreBtn:hover .more_3 {
  margin-top: -200px;
}

.moreBtn:hover .arrow {
  margin-right: 5%;
}

.moreText {
  font-size: 72px;
  line-height: 72px;
  position: relative;
}

.moreText span {
  position: absolute;
  margin-top: -10px;
  z-index: 1000;
}

.arrow {
  margin: 10px 0 0 0px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 10%;
}

.designBuyFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 60px;
}

.designBuyFlex_col_1 {
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  font-size: 72px;
  color: #aa0601;
  font-weight: bold;
  padding: 260px 0;
  text-align: center;
}

.designBuyFlex_col_1:first-child {
  background: url(../images/14.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 15px;
}

.designBuyFlex_col_1:last-child {
  background: url(../images/39.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/*------------------------
 Customer
 ------------------------*/
.customer {
  margin-top: -360px;
}

.customerList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.customerListCard {
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%;
  border: 1px solid #dee2e6;
  background: white;
}

.cardInfo {
  padding: 20px;
}

.cardText {
  margin: 15px 0;
}

.cardUpdateTime {
  color: #707070;
}

/*------------------------
 Contact
 ------------------------*/
.contact {
  background: #faf2f3;
}
.contact label {
  margin: 15px 0 10px 0;
  display: inline-block;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #000;
  background: #faf2f3;
}

.contact input[type="submit"],
.contact input[type="checkbox"] {
  width: auto;
}

.contact input[type="submit"] {
  width: 180px;
  background: #aa0601;
  border: none;
  color: white;
  margin: 0 auto;
  display: block;
}

.formNotice {
  padding-bottom: 10px;
}

.agreeBox {
  display: block;
  margin: 15px 0 40px 0;
}

.agreeBtn {
  display: none;
}

.contact .agreeBtnText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.agreeBtnText:before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 10px;
  -webkit-transform: translate(0, 4px);
  -ms-transform: translate(0, 4px);
  transform: translate(0, 4px);
  border: 2px solid #000;
}

.agreeBtn:checked + .agreeBtnText:before {
  background: url(../images/click.png);
  background-size: 15px auto;
  background-repeat: no-repeat;
  background-position: center center;
}

/*------------------------
 Footer
 ------------------------*/
footer {
  color: white;
  background: #aa0601;
}

.footerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
}

.footerNavItem {
  padding-right: 45px;
}

.footerNavItem:last-child {
  margin-right: 0;
}

.tel,
.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 36px;
  margin: 20px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.telIcon,
.mailIcon {
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
  margin-right: 10px;
}

.footerFlex_col {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.socialBtn {
  -webkit-transform: translate(0, -15px);
  -ms-transform: translate(0, -15px);
  transform: translate(0, -15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.socialBtn li {
  padding-left: 30px;
}

.footeHr {
  opacity: 0.7;
}

.footerFlexCopy {
  margin-top: 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.copyLogo {
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
}

.copyright {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  text-align-last: left;
}

.copyNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.copyItem {
  padding-left: 45px;
}

/*------------------------
 QA page
------------------------*/

.subBanner {
  margin-top: 100px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/72.png);
  margin-bottom: 90px;
  position: relative;
  .pageTitle{
    position: absolute;
    bottom: 10px;
    font-size: 64px;
    line-height: 64px;
  }
  .pageTitle:after{
    display: inline-block;
    transform: translate(10px, 3px);
    width: 60px;
    height: 60px;
    background: #aa0601;
    content: ' ';
    mask: url(../images/help-circle-sharp.svg) no-repeat 50% 50%;
    mask-size: cover;
  }
}
.pageContent{
  margin-bottom: 150px;
}
.qaListTitle{
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 20px;
}
.qaList {
  border: 1px solid #000;
  border-bottom: none;
  .qaTitle,.qaAsk{  
    padding: 22px 30px;
    border-bottom: 1px solid #000;
  }
  .qaAsk{
    background: #F2F2F2;
    display: none;
    transition-duration: initial;
  }
  .qaTitle:after{
    content: url(../images/ic_keyboard_arrow_up_24px.svg);
    float: right;
    transform: rotate(180deg)
  }
  h3.down:after{
    transform: rotate(0deg)
  }
}
